{% extends "base.html" %}

{% block content %}
<div class="container ups">
  <div class="row">
      <a href="/personage">
        <div class="card" style="width: 17.5rem;">
            <img class="card-img-top" src="../static/img/ship.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Персонажи</h5>
                <p class="card-text">Персонажи</p>
            </div>
        </div>
      </a>
      <a href="/planets">
        <div class="card" style="width: 17rem;">
            <img class="card-img-top" src="../static/img/planet_38.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Планеты</h5>
                <p class="card-text">Планеты</p>
            </div>
        </div>
      </a>
      <a href="/chapter">
        <div class="card" style="width: 17rem;">
            <img class="card-img-top" src="../static/img/main_menu.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Сюжет</h5>
                <p class="card-text">Сюжет</p>
            </div>
        </div>
      </a>
      <a href="/story">
        <div class="card" style="width: 17.5rem;">
            <img class="card-img-top" src="../static/img/spase_inro6.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Истории</h5>
                <p class="card-text">Истории</p>
            </div>
        </div>
      </a>
      </div>
    </div>
{% endblock %}